@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}

*:focus {
    outline : none;
}

:root {
    --primary-color : #3a2f5f;
    --secondary-color : #270a36;
}

body {
    color: rgb(241, 210, 255);
    background-color: var(--primary-color);
}

.header {
    text-align: center;
    margin: 2.5rem;
}

h1 {
    font-size: 3rem;
}

label, button{
    display: block;
}

.container {
    text-align: center;
    width: 100%;
    margin : 3rem 0rem;
}

.label {
    margin: .3rem;
    font-size: 1.5rem;
}

.inputClass {
    height: 1.8rem;
    width: 30%;
    padding: 0.2rem 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: .5rem;
}

.checkPL-btn {
    margin: 1rem auto;
    border: none;
    border-radius: .6rem;
    height: 2.5rem;
    width: 6.5rem;
    font-size: 1rem;
}

.checkPL-btn:hover {
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 1px;
}

.outputMsg {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    margin: 1.7rem;
    font-size: 1.3rem;
    margin: 3rem 0rem;
}



/* ---------------------------------------------------------- footer------------------------------ */


.footer {
    margin: auto;
    

}

.footer-container {
    margin:16rem 0px 0px 0px;
    max-width: 1400px;
    
    
    
}

.footer__inner {
    margin: 0;
    padding: em;
    display: flex;
}

.footer__section {

    padding-top: 1em;
    margin-bottom: 1em;

    font-weight: 300;
    font-size: 1.1rem;
    color: rgb(164, 133, 177);
    margin-bottom: 0px;
    display: block;

}

.footer__social-list {
    margin-top: 1.1em;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}

.footer__social-link {
    text-decoration: none;
    padding: 10px;

}

.footer__social-icon {
    height: 32px;
    color: white;
    fill: rgb(184, 158, 187);

}

.footer__social-icon:hover {
    fill: #ffffff;
    color: #586dca
}
/* ---------------------------------------------------------- footer ended------------------------------ */
